# Database — regenerated locally
*.duckdb

# Raw Synthea data — too large
data/raw/

# Python
venv/
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# macOS
.DS_Store

# Environment variables
.envdata/*.db
